.title__inner {
    max-width: 900px;
    margin: 0 auto;
}

.attendance__tittle {
    border-left: 8px solid;
    padding-left: 21px;
    margin-top: 91px;
    margin-bottom: 47px;
}

.calendar {
    max-width: 900px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.calendar__content {
    width: 100%;
    max-height: 1506px;
    margin-bottom: 114px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #737373;
    text-align: center;
}

.attendance__item {
    width: 30px;
    height: 31px;
    border-bottom: 3px #E1E1E1 solid;
    font-size: 16px;
    font-weight: bold;
}

.attendance__item__data {
    border-bottom: 2px solid #E1E1E1;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 850px) {
    .attendance__item__data {
        border-bottom: 2px solid #E1E1E1;
        height: 33px;
        padding: 16px 8px;
        font-size: 12px;
        font-weight: bold;
    }
}

.button__detail {
    border: none;
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    color: black;
}


